{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
        console.log('connected on client');
    });
    socket.on('x', function(data) {
        console.log("x:", data);
        let $d = $("<div></div>").text("x: ", data.x);
        $("#updateTarget").append($d);
    });
    socket.on('location', function (data) {
        console.log("loc: ", data);;
        let $d = $("<div></div>").text("loc: ", data);
        $("#updateTarget").append($d);
    })
    socket.on('telem', function (data) {
        console.log("telem:", data);
    });
</script>
{% endblock %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>Appends state and loc</h3>

<p id="updateTarget">[Please wait...]</p>

{% endblock %}
